
<section id="list-expenses" class="list-expenses"
         ng-controller="mainCtrl as mainCtrl">

    <section ng-repeat="list in mainCtrl.lists">

        <div class="col-md-3">
            <div class="expense">
                <div class="background-form"></div>
                <div class="title">
                    <div>{{list.name}}</div>
                </div>
            </div>
        </div>
    </section>
    <section class="new-list">
                <div class="expense_new">
                    <div class="background-form"></div>
                    <div class="title">19.04.2017</div>
                    <div ng-controller="EditableFormCtrl" class="table_container">
                        <table class="table table-bordered table-hover table-condensed">
                            <tr style="font-weight: bold">
                                <td style="width:30%">Раздел</td>
                                <td style="width:40%">Сумма</td>
                                <td style="width:30%"></td>
                            </tr>
                            <tr ng-repeat="expense in expenses">
                                <td>
                                    <!-- editable status (select-local) -->
                                    <span editable-select="expense.section" e-name="section" e-form="rowform" e-ng-options="s.value as s.text for s in sections">
                                      {{ showSection(expense) }}
                                    </span>
                                </td>
                                <td>
                                    <!-- editable username (text with validation) -->
                                    <span editable-text="expense.amount" e-name="amount" e-form="rowform" onbeforesave="checkName($data, expense.id)">
                                      {{ expense.amount || '0' }}
                                    </span>
                                </td>

                                <td style="white-space: nowrap">
                                    <!-- form -->
                                    <form editable-form name="rowform" onbeforesave="saveUser($data, amount.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                            save
                                        </button>
                                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                            cancel
                                        </button>
                                    </form>
                                    <div class="buttons" ng-show="!rowform.$visible">
                                        <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                                        <button type="button" class="btn btn-danger" ng-click="removeUser($index)">del</button>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <button type="button" class="btn btn-default" ng-click="addUser()">Add row</button>
                    </div>
                    <!--<div class="table_container">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>Раздел</th>
                                <th>Сумма</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>продукты</td>
                                <td>250</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>транспорт</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>прочее</td>
                                <td>150</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>-->
                    <div class="total">Всего: <span>440</span></div>
                </div>
    </section>
</section>
