<form class="form-horizontal    col-lg-4 col-lg-offset-4
                                col-md-6 col-md-offset-3
                                col-sm-8 col-sm-offset-2
                                col-xs-8 col-xs-offset-2
                                content-area sample-show-hide login-form"
      name ="registrationForm" ng-submit=toRegister(user) role="form">

    <div class="background-form"></div>

    <div class="form-group has-feedback login-form-element">
        <div class="title">Регистрация</div>
    </div>

    <div class="form-group has-feedback login-field-form">
        <div class="col-lg-12 login-form-element login-field">
            <div class="input bs-float-label">
                <input type="text"
                       class="form-control float-input"
                       id="login"
                       placeholder="Логин"
                       name="login"
                       ng-model = "user.login">
                <label for="login" class="float-label">Логин</label>
            </div>
            <span class="glyphicon form-control-feedback"></span>
        </div>
    </div>

    <div class="form-group has-feedback password-field-form">
        <div class="col-lg-12 login-form-element password-field">
            <div class="input bs-float-label">
                <input type="password"
                       class="form-control float-input"
                       id="password"
                       placeholder="Пароль"
                       ng-model = "user.password">
                <label for="password" class="float-label">Пароль</label>
            </div>
            <span class="glyphicon form-control-feedback"></span>

        </div>
    </div>

    <div class="form-group has-feedback passwordRepeat-field-form">
        <div class="col-lg-12 login-form-element password-field">
            <div class="input bs-float-label">
                <input type="password"
                       class="form-control float-input"
                       id="passwordRepeat"
                       placeholder="Повторите пароль"
                       ng-model = "user.passwordRepeat">
                <label for="passwordRepeat" class="float-label">Повторите пароль</label>
            </div>
            <span class="glyphicon form-control-feedback"></span>

        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12 login-form-element ">
            <button type="submit" class="btn button-background login-button" id="registrationBtn">
                <span class="glyphicon" aria-hidden="true"></span> Регистрация
            </button>
        </div>
    </div>

</form>
